*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

.container{
    max-width: 1400px;
    margin: auto;
}
.header img{
    margin: 27px 0px 0px  50px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 27px 50px 50px 27px;
    align-items: center;
}

.nav__bar{
    display: flex;
    align-items: center;
    gap: 40px;
    color: #333333;
}

.nav__bar li{
    display: flex;
    align-items: center;
}

.nav__bar a{
    font-family: 'Roboto';
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 1px;
text-transform: uppercase;
color: #333333;
display: flex;
align-items: center;
}


.dialog{
    display: flex;
    justify-content: space-between;
}

.xz{
    padding-right: 54px;
}

.diag h2{
    font-family: 'Roboto';
font-weight: 700;
font-size: 60px;
line-height: 100%;
letter-spacing: 0px;
padding: 176px 233px 0px 50px;
}

.diag p{
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
padding: 47px 216px 47px 50px;
}

.rasm{
    position: absolute;
    top: 33px;
    left: 700px;
    animation: krug 11s  infinite ;
}

.nachalo{
   background-color: #F3D7B7;
   width: 1536px;
   height: 720px;
   position: relative;
}

.coment img{
    animation: coffee 6s infinite;
}

.coment{
    display: flex;
    justify-content: space-between;
    margin: 160px 54px 216px 54px;
}

.asosiy{
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    flex-wrap: wrap;
}

.asosiy h2{
    font-family: Roboto;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0px;
font-variant: small-caps;
padding-top: 64px;
}

.asosiy p{
    font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0px;

}

.asosiymas{
    display: flex;
    justify-content: space-between;
    margin: 54px;
    flex-wrap: wrap;
}

.asosiymas h2{
    font-family: Roboto;
font-weight: 700;
font-size: 64px;
line-height: 100%;
letter-spacing: 0px;
font-variant: small-caps;
padding-top: 64px;
}

.asosiymas p{
    font-family: Roboto;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0px;
margin-right: 30px;
}

.comentmas{
    display: flex;
    justify-content: space-between;
    margin: 160px 54px -100px 54px;
    color: white;
  
}
.ch{
    background-color: #C99B67;
    width: 1536px;
    height: 600px;
    margin-bottom: -130px ;

}
.comentmas img{
margin-top: -170px;
}

.two{
    background-color: #F3D7B7;
}

.sot{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
}

@keyframes krug {
   
    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg)  ;
        
    }
}


@keyframes coffee{
    100%{
        transform: rotate(360deg);
    }
}